// Colors
$white: white;
$white_transparent: rgba(255, 255, 255, 0.5);
$black: #240905;

$light_gray: #eee;
$dark_gray: #777;

$light_red: #F39385;
$red: #BB4836;
$dark_red: #892212;
$beige: #E8E6DF;

// Icons
.icon-downwards {
  width: 20px;
  height: 23px;
  display: inline-block;
  margin-bottom: 10px;

  background: url('../img/downwards.png') no-repeat 0 0;
}

// Buttons
.button {
  display: inline-block;
  padding: 10px 18px;

  background-color: $red;
  color: $white;
  font-weight: $font-weight-bold;
  border-radius: 5px;

  transition: background-color 0.1s;

  &:hover {
    background-color: $dark_red;
    color: $white;
  }
}

// Page
body {
  font-family: 'Open Sans', Arial, sans-serif;

  a[href] {
    &:hover {
      color: $white;
    }

    &.light {
      color: $light_red;

      &:hover {
        color: $black;
      }

      &:active {
        color: $white;
      }
    }
  }

  > header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;

    padding: 15px 0;

    color: $white;
    background-color: $dark_red;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

    .logo {
      font-size: 20px;
      font-weight: 700;

      >a {
        color: $white;
      }
    }

    .nav-container {
      text-align: right;

      > nav {
        display: inline-block;
        text-transform: uppercase;

        > a {
          display: inline-block;
          margin-left: 25px;

          color: $white;
          font-weight: $font-weight-bold;
          @include font-size(14px);

          transition: color 0.1s;

          &:first-child {
            margin: 0;
          }

          &:last-child {
            color: #FFFC19;
          }

          &:hover {
            color: $black;
          }
        }
      }
    }
  }

  #hero {
    padding: 50px inherit;
    color: $white;
    background: $black url("../img/hero_banner.jpg");
    background-size: cover;

    em {
      font-style: normal;
      color: $red;
    }

    .hero-left {
      margin-top: 50px;
      text-align: center;

      p {
        font-weight: $font-weight-bold;
      }

      .money-source {
        display: block;
        text-transform: uppercase;
      }

      .money-figure {
        margin: 10px 0;

        display: block;
        text-transform: uppercase;

        color: $red;
        @include font-size(40px);
      }

      .info-source {
        display: block;

        margin-top: 30px;
        @include font-size(10px);

        color: $dark_gray;
      }
    }

    .hero-right {
      margin-top: 40px;
      padding-left: 30px;
      padding-top: 20px;
      border-left: 1px solid $white_transparent;

      > h2 {
        @include font-size(40px);
        color: $white;
        font-weight: 600;
      }

      .date-location {
        display: block;
        margin-bottom: 20px;
      }

      .button {
        padding: 10px 25px;
        text-transform: uppercase;
      }

      .share {
        display: inline-block;

        .share-email {
          display: inline-block;
          width: 26px;
          height: 20px;

          background: url('../img/email_icon.png') no-repeat 0 0;
          background-size: 26px auto;
        }

        .share-twitter {
          display: inline-block;
        }
      }
    }
  }

  .sub-hero {
    padding: 40px 0;
    background-color: $beige;
    text-align: center;

    p {
      @include font-size(22px);
    }
  }

  .sub-content {
    position: relative;
    padding: 40px 0;

    h2 {
      text-transform: uppercase;
      text-align: center;

      @include font-size(34px);

      &.light {
        color: $dark_gray;
      }

      &.light-red {
        color: $light_red;
      }
    }
  }

  .speakers {
    .person {
      position: relative;
      margin-top: 30px;

      .video-link {
        position: relative;
        display: block;

        .play-button {
          position: absolute;
          margin-left: -20px;
          margin-top: -25px;

          left: 50%;
          top: 50%;
          display: inline-block;

          width: 50px;
          height: 60px;

          background: url("../img/play_button.png") no-repeat 0 0;
          opacity: 0.5;
        }

        &:hover .play-button {
          opacity: 0.8;
        }
      }

      img {
        margin-bottom: -7px;
        cursor: pointer;
      }

      .quote {
        width: 100%;
        padding: 15px;

        background: $black;
        color: $white;
        font-style: italic;
        text-align: center;

        @include font-size(14px);
      }

      .name {
        padding: 15px;

        background-color: $red;
        color: $white;

        text-align: center;

        @include font-size(26px);
        font-weight: $font-weight-bold;
      }

      .bio {
        padding: 10px;
        @include font-size(14px);
      }
    }
  }

  .schedule {
    background-color: $black;
    color: $white;

    p {
      @include font-size(22px);
      text-align: center;

      &:first-child {
        margin-top: 30px;
      }
    }

    .demphasized {
      font-size: 1rem;
      color: $light_gray;
    }
  }

  .join-now {
    height: 330px;

    background: $black url("../img/light_brigade.jpg");
    background-size: cover;

    text-align: center;

    h2 {
      margin-top: 58px;
      color: $white;
    }

    text-align: center;
    .button {
      margin-top: 15px;
      padding: 10px 30px;
    }
  }

  .location {
    background-color: $dark_red;
    text-align: center;

    h3 {
      margin-top: 20px;

      color: $white;
      @include font-size(30px);
    }

    .map-container {
      margin-top: 40px;

      .map-embed {
        width: 100%;
        height: 305px;
      }
    }
  }

  .sponsors {
    text-align: center;

    ul {
      margin: 20px 0 0 0;
      padding: 0;

      >li {
        display: inline-block;
        margin-right: 20px;

        height: 70px;
        line-height: 70px;

        &:last-child {
          margin: 0;
        }

        img {
          height: 50px;
        }
      }
    }
  }

  .aboutus {
    background-color: $black;

    h2 {
      margin-bottom: 20px;
    }

    p {
      color: $white;
    }

    abbr {
      text-transform: uppercase;
      font-size: 90%;
      color: $white;

      border-bottom: none;
      cursor: help;
    }
  }
}

// responsive layouts
@include respond(all-phones) {
  body {
    >header .nav-container {
      display: none;
    }

    #hero {
      text-align: center;

      p {
        text-align: center;
      }

      .hero-left {
        padding-top: 30px;
      }

      .hero-right {
        border-left: none;
        border-top: 1px solid $white_transparent;

        padding-left: 0;
        padding-top: 30px;
      }
    }

    .sub-hero {
      p {
        text-align: center;
      }
    }

    .sponsors {
      ul {
        text-align: center;
      }
    }

    .aboutus {
      .volunteer-container {
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
}